*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 80%;
}

body {
	width: 100%;

	background: #012340;
	text-align: center;
}

h1 {
	margin: 2.1875em;
	font-size: 2.1875em;
	
	color: #025939;
	text-shadow: 0.09375em 0.09375em #03A63C;
	letter-spacing: 0.09375em;
}