*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 80%;
}

body {
	max-width: 80%;

	background: #012340;
	text-align: center;
	margin: 2rem 15rem;
}

.form-section {
	max-width: 50%;
	text-align: center;
}