input,
button.add {
    font-size: 1rem;

    text-align: center;

    display: block;
    margin: 0 0 1.5rem;

    background: white;
    border: none;
    border-radius: 0.75rem;

    outline: none;
}

input {
    width: 50%;
}

button {
    cursor: pointer;
    max-width: 30%;
}

button.add {
    color: black;
    background: #03A63C;
}

button.add:hover,
button.add:focus,
button.add:active {
    background: #04D939;
}

input,
button,
p {
    font-weight: bold;
}