input,
button.add {
    font-size: 1rem;

    text-align: center;

    display: block;
    margin: 0 0 1.5rem;

    background: white;
    border: none;
    border-radius: 0.75rem;

    outline: none;
}

input {
    width: 50%;
}

button {
    cursor: pointer;
    max-width: 30%;
}

button.add {
    color: black;
    background: #03A63C;
    
    box-shadow: none;
}

button:hover,
button:focus,
button:active {
    background: #04D939;
    box-shadow: 10px 5px 5px #03A63C;
}